In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
# Use a compound data type for structured arrays
data = np.zeros(4, dtype={'names':('name', 'age', 'weight'),
'formats':('U10', 'i4', 'f8')})

In [7]:
print(data.dtype)

[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')]

In [9]:
names = ['Alice', 'Bob', 'Cathy', 'Doug']
ages = [25, 45, 37, 19]
weights = [55.0, 85.5, 68.0, 61.5]

data['name'] = names
data['age'] = ages
data['weight'] = weights
print(data)

[('Alice', 25, 55. ) ('Bob', 45, 85.5) ('Cathy', 37, 68. )
 ('Doug', 19, 61.5)]

In [15]:
# Get names where age is under 30
data[data['age'] < 30]['name']

array(['Alice', 'Doug'], dtype='<U10')

In [17]:
data_rec = data.view(np.recarray)
data_rec.age

array([25, 45, 37, 19])

In [23]:
pd?

Type:        module
String form: <module 'pandas' from 'C:\\anaconda3\\Lib\\site-packages\\pandas\\__init__.py'>
File:        c:\anaconda3\lib\site-packages\pandas\__init__.py
Docstring:
pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [65]:
area_dict = {'California': 423967, 'Texas': 695662, 'Florida': 170312,
'New York': 141297, 'Pennsylvania': 119280}
area = pd.Series(area_dict)
print(area, end='\n\n')

population_dict = {'California': 39538223, 'Texas': 29145505,
'Florida': 21538187, 'New York': 20201249,
'Pennsylvania': 13002700}
population = pd.Series(population_dict)
population

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
dtype: int64

California      39538223
Texas           29145505
Florida         21538187
New York        20201249
Pennsylvania    13002700
dtype: int64

In [99]:
states = pd.DataFrame({
    'area':area,
    'population':population
})
states

                area  population
California    423967    39538223
Texas         695662    29145505
Florida       170312    21538187
New York      141297    20201249
Pennsylvania  119280    13002700

In [69]:
states.columns

Index(['population', 'area'], dtype='object')

In [55]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

indA.intersection(indB)

Index([3, 5, 7], dtype='int64')

In [57]:
indA.union(indB)

Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [59]:
indA.symmetric_difference(indB)

Index([1, 2, 9, 11], dtype='int64')

In [101]:
states['density'] = states['population'] / states['area']
states

                area  population     density
California    423967    39538223   93.257784
Texas         695662    29145505   41.896072
Florida       170312    21538187  126.463121
New York      141297    20201249  142.970120
Pennsylvania  119280    13002700  109.009893

In [115]:
states.loc[:'Florida', :'density']

              area  population     density
California  423967    39538223   93.257784
Texas       695662    29145505   41.896072
Florida     170312    21538187  126.463121

In [117]:
titanic = sns.load_dataset('titanic')
titanic.head()

NameError: name 'sns' is not defined